$primary-color-dark:   #D32F2F;
$primary-color:        #F44336;
$primary-color-light:  #FFCDD2;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF9800;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

body {
    background: $primary-color-dark;
    color: $primary-color-text;
}
.navbar {
    border-bottom: $divider-color 3px solid;
    opacity: 0.9;
    a {
        color: $primary-color-text;
    }
}
.banner {
    margin-top: 100px
}