$primary-color-dark:   #D32F2F;
$primary-color:        #F44336;
$primary-color-light:  #FFCDD2;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF9800;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
$background-light:      #eeeeee;

body {
    background: $primary-color-dark;
    color: $primary-color-text;
}
.navbar {
    border-bottom: $divider-color 3px solid;
    opacity: 0.9;
    a {
        color: $primary-color-text;
    }
}
.header {
    margin-top: 60px;
    background: $primary-text-color;
    height: 100%;
    padding: 20px;
    border-bottom: $divider-color 1px solid;
    border-top: $divider-color 1px solid;
}
.card {
    color: $primary-text-color;
    margin-top: 5px;
}
.sidebar.ul.list-group {
    padding: 5px;
}
.sidebar.list-group-item{
    background-color: $background-light;
}
.homestats {
    color: $primary-text-color;
    margin-top: 5px;
}
.adTable {
    width: 100%;
}
#my-modal {
    color: $primary-text-color;
    img {
        width: 100%;
    }
}
.campaignlist {
    width: 100%;
}
